@* Editing Category Page (UI Design for Edit Category*@

@model Category
@*Create Category Ui And View Class For Controller*@
<form method="post">
    <input asp-for="Id" hidden /> @* Changes*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"><b>DELETE CATEGORY</b></h2>
            <hr />
        </div>
        @*<div asp-validation-summary="ModelOnly">*@
    </div> <!--asp.net summary tag helper-->
    <div class="mb-3 row">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" disabled class="text-danger"></span>@* changes*@
    </div>
    <div class="mb-3 row">
        <label>DisplayOrder</label>
        <input asp-for="DisplayOrder" disabled class="form-control" />@* changes below*@
        
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-danger form-control">Delete</button> @* changes*@
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Back</a>
        </div>
    </div>
</form>
@*Script removed*@
